@using static BAL_IK.UI.Areas.SirketYoneticisi.Controllers.HomeController
@model GelenData
@{

    ViewData["Title"] = "Anasayfa";
    Layout = "~/Areas/SiteYoneticisi/Views/Shared/_LayoutSiteYoneticisi.cshtml";
}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Sayfalar</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Ana Sayfa</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Ana Sayfa</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group input-group-outline">
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Sitede bulunan şirket sayısı</p>
                            <h4 class="mb-0">2,300</h4>
                        </div>
                    </div>
                    <hr class="dark horizontal my-0">
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Kayıtlı şirket yöneticisi sayısı</p>
                            <h4 class="mb-0">3,462</h4>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="icon icon-lg icon-shape bg-secondary shadow-success text-center border-radius-xl mt-n4 position-absolute">
                            <i class="material-icons opacity-10">person</i>
                        </div>
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Kayıtlı personel sayısı</p>
                            <h4 class="mb-0">3,462</h4>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4 mt-3">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                            Yaklaşan Üyelik Sonlandırma Listesi buraya yazılacak...
                        </div>
                    </div>

                </div>
            </div>
        </div>

    <div class="row mb-4 py-4 ms-2">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4" style="width:50%">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Resmi Tatiller</h6>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive overflow-hidden">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <ul>
                                        @for (var i = 0; i < 4; i++)
                                        {
                                            <li>@Model.ResmiTatiller[i].uzuntarih<span>&nbsp;</span> @Model.ResmiTatiller[i].gun <br/></li>
                                        }
                                    </ul>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

