@using static BAL_IK.Model.RequestClass.LogIslemleriRequest
@model KayitKullaniciReq
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Login/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Login/img/favicon.png">
    <title>
        BAL-IK Kayıt Ol
    </title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <link href="~/Login/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/Login/css/nucleo-svg.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link id="pagestyle" href="~/Login/css/material-dashboard.css?v=3.0.2" rel="stylesheet" />
</head>

<body class="dark-version">
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                            <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('../Login/img/illustrations/illustration-reset.jpg'); background-size: cover;">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                            <div class="card card-plain">
                                <div class="card-header">
                                    <div class="text-center">
                                        <a asp-action=Index asp-controller=Home><h4 class="font-weight-bolder">BAL-IK </h4></a>
                                    </div>
                                    <h4 class="font-weight-bolder">Kayıt Ol</h4>
                                    <p class="mb-0">Lütfen şirket maili ile kayıt olunuz.</p>
                                    @if (ViewBag.Mesaj != null)
                                    {
                                       <p class="mb-0">@ViewBag.Mesaj</p>
                                    }
                                </div>
                                <div class="card-body">
                                    <form method=post>
                                        <div class="input-group input-group-outline mb-3">
                                            <label asp-for=Ad class="form-label"></label>
                                            <input id="kutu" asp-for=Ad type="text" class="form-control">
                                        </div>
                                        <div class="input-group input-group-outline mb-3">
                                            <label asp-for=Soyad class="form-label">Soyad</label>
                                            <input id="kutu1" asp-for=Soyad type="text" class="form-control">
                                        </div>
                                        <div class="input-group input-group-outline mb-3">
                                            <label asp-for=Email class="form-label">Email</label>
                                            <input id="kutu2" asp-for=Email type="email" class="form-control">
                                        </div>
                                        <div class="input-group input-group-outline mb-3">
                                            <label asp-for=Sifre class="form-label">Şifre</label>
                                            <input id="kutu3" asp-for=Sifre type="password" class="form-control">
                                        </div>
                                        <div class="text-center">
                                            <button onclick="Temizle()" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Kayıt Ol!</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                    <p class="mb-2 text-sm mx-auto">
                                        Zaten kayıtlımısınız ?
                                        <a asp-action="Index" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Giriş Yap</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--   Core JS Files   -->
    <script src="~/Login/js/core/popper.min.js"></script>
    <script src="~/Login/js/core/bootstrap.min.js"></script>
    <script src="~/Login/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Login/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
          var options = {
            damping: '0.5'
          }
          Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
        
                    function Temizle(){
                        document.getElementById('kutu').value="";
                        document.getElementById('kutu1').value="";
                        document.getElementById('kutu2').value="";
                        document.getElementById('kutu3').value="";
                    }

    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/Login/js/material-dashboard.min.js?v=3.0.2"></script>
</body>

</html>